footer {
  font-size: 12px;
  margin: 60px 5% 30px;
  display: flex;
  gap: 24px;
  flex-direction: column;
}

#footer-content {
  width: 100%;
  justify-content: space-between;
  gap: 32px;
  display: flex;
}

#footer-copyright {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

#footer-copyright a {
  width: fit-content;
}

#footer-copyright img {
  max-width: 125px;
}

#footer-policy {
  display: flex;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 8px;
  justify-content: center;
  font-size: 15px;
}

#footer-links {
  display: flex;
  gap: 20px;
}

.footer-social {
  display: flex;
  gap: 20px;
  font-size: 20px;
}

@media all and (max-width: 1110px) {
  #footer-content {
    flex-wrap: wrap;
    justify-content: center;
  }

  #footer-copyright>a {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}