* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: var(--box-fg);
}

body {
  font: 400 14px/1.6 "Open Sans", sans-serif;
  background: var(--bg);
  margin: 0;
  padding: 0;
  color: var(--fg);
}

body.no-scroll {
  overflow: hidden;
}

/* ---- Content ---- */

.content {
  margin: 153px 3% 7%;
  max-width: 1090px;
  padding-left: 225px;
}

#page-doc *:target {
  margin-top: -120px;
  padding-top: 120px;
  z-index: -1;
}

@media all and (max-width: 1110px) {
  .content {
    padding-left: 0;
  }
}

/* ---- Paragraph ---- */

h1 {
  font-size: 30px;
  line-height: 36px;
}

h1,
h2,
h3 {
  margin: 5px 0;
  color: var(--card-fg);
  -webkit-font-smoothing: antialiased;

}

.h2:target {
  display: block;
  padding-top: 40px;
}

.content h1 {
  margin-bottom: 20px;
}

p em {
  font-weight: bold;
  color: var(--card-fg);
}

p {
  margin: 10px 0;
  line-height: 1.35em;
}


@media all and (max-width: 1110px) {
  h1 {
    font-size: 22px;
    line-height: 26px;
  }

  h2 {
    font-size: 18px;
    line-height: 25px;
  }

  h3 {
    font-size: 16px;
    line-height: 23px;
    word-break: break-all;
  }

  h4 {
    font-size: 16px;
    line-height: 18px;
    font-weight: normal;
  }
}

/* ---- scroll ---- */

*::-webkit-scrollbar {
  background-color: opacity(var(--box-fg), 0.145);
  width: 16px;
}

*::-webkit-scrollbar-thumb {
  border-radius: 8px;
  border: 4px solid transparent;
  background-clip: content-box;
  background-color: var(--menu-grey);
}

*::-webkit-scrollbar-thumb:hover {
  background-color: var(--hover-bg);
}

*::-webkit-scrollbar-thumb:active {
  background-color: var(--menu-grey);
}

/* ---- links ---- */

a {
  color: var(--link);
  text-decoration: none;
}

/* ---- code ---- */

code {
  background-color: var(--code-bg);
  color: var(--card-fg);
  margin-block: -.125rem;
  font-size: 13px;
  padding: .125rem .375rem;
  border-radius: 6px;
}

pre {
  padding: 16px;
  border-radius: 3px;
  border: 1px solid #ddd;
  background-color: var(--code-bg);
}

pre code {
  padding: 0;
}

pre,
code {
  white-space: pre-wrap !important;
}

@media all and (max-width: 1110px) {
  code {
    word-break: break-all;
  }
}

/* ---- top button ---- */

.scroll #top {
  opacity: .5;
  display: initial
}

.scroll #top:hover {
  opacity: 1;
}

#top {
  line-height: 0;
  border-radius: 2px;
  position: fixed;
  bottom: 15px;
  right: 15px;
  padding: 8px;
  text-decoration: none;
  opacity: 0;
  transition: opacity 300ms;
  border: 1px solid var(--border);
  background-color: var(--card-bg);
  color: var(--card-fg);
  display: none;
}

/* ---- clearfix ---- */

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clearfix {
  display: inline-block;
}

html[xmlns] .clearfix {
  display: block;
}

* html .clearfix {
  height: 1%;
}

/* ---- Tables ---- */

.doctable,
section table {
  margin: 1em 1em 1em 0;
  border: 1px solid var(--border);
  border-collapse: collapse;
  width: 100%;
}

.doctable td,
.doctable th,
section table td,
section table th {
  padding: 7px;
  line-height: 120%;
  vertical-align: top;
  border: 1px solid var(--border);
}

.doctable tr th,
section table tr th {
  background: var(--card-bg);
  font-size: 110%;
}

.doctable td p:first-child {
  margin-top: 0;
}

.doctable td p,
li p {
  width: 100% !important;
}

.doctable ul {
  margin: 20px 0
}

th {
  color: var(--card-fg);
}

@media all and (max-width: 1110px) {
  .table-scroller {
    width: 100%;
    overflow: scroll;
  }
}

/* ---- Admonitions ----*/

.doc-box {
  padding: 16px;
  color: var(--box-fg);
  border-radius: 0 6px 6px 0;
  margin-top: 1rem;
}

.doc-box p {
  margin: 0 0 8px 0;
}

.doc-box p:last-child {
  margin: 0;
}

.doc-notice {
  background: var(--notice-bg);
  border-left: 3px solid var(--notice-accent);
}

.doc-notice a {
  color: var(--notice-accent);
  text-decoration: underline;
}

.doc-info {
  background: var(--info-bg);
  border-left: 3px solid var(--info-accent);
}

.doc-info a {
  color: var(--info-accent);
  text-decoration: underline;
}

.doc-info-title {
  color: var(--info-accent);
  font-weight: 600;
}

.doc-warn {
  background: var(--warn-bg);
  border-left: 3px solid var(--warn-accent);
}

.doc-warn-title {
  color: var(--warn-accent);
}

.doc-warn a {
  color: var(--warn-accent);
  text-decoration: underline;
}

/* ---- i18n alert ---- */

#i18n-notice-box {
  margin: 100px 3% 20px 3%;
  position: relative;
}

#close-i18n-notice-box {
  position: absolute;
  top: 3px;
  right: 4px;
  color: var(--notice-accent);
  cursor: pointer;
}

/* ---- 404 page ---- */

.content-404 {
  height: 70vh;
  padding: 153px 32px 7%;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.content-404 p {
  font-size: 16px;
}

/* ---- Individual Elements ---- */

blockquote {
  margin-left: 0;
  font-weight: 600;
  font-style: italic;
  padding-left: 1.2em;
  border-left: .25rem solid var(--border);
}

@media all and (max-width: 1110px) {
  ul {
    padding-left: 5%;
  }
}

.button {
  display: block;
  padding: 3px 5px;
  border-radius: 3px;
  cursor: pointer;
  color: var(--box-fg);
}

strong {
  color: var(--card-fg);
}