#q {
  display: none;
  height: 2.5em;
  max-width: 100%;
  padding: 5px;
}

.algolia-autocomplete {
  max-width: 9em;

  >input {
    color: var(--fg);
    background-color: var(--bg);
  }

  >input::placeholder {
    color: var(--fg);
  }

  #q {
    display: initial;
    border-radius: 8px;
    border: 1px solid var(--border);
    transition: color .3s ease;
    padding-inline: 12px;
    outline: none;

    &:focus-visible,
    &:focus {
      border-color: var(--hover-border);
      border-width: 2px;
    }
  }
}

#navbar {
  .ds-dropdown-menu .ds-dataset-1 {
    background-color: var(--bg);

    .ds-suggestions {
      /* background-color: var(--bg); */
      color: var(--fg);
    }

    .ds-suggestion a {
      background-color: var(--bg);
      color: var(--fg);
    }

    .ds-suggestion a {
      background-color: var(--bg);
      color: var(--fg);
    }

    .algolia-docsearch-suggestion--category-header {
      color: var(--fg);
    }

    .algolia-docsearch-suggestion--wrapper {
      background-color: var(--bg);

      .algolia-docsearch-suggestion--subcategory-column {
        color: var(--menu-grey);

      }

      .algolia-docsearch-suggestion--title,
      .algolia-docsearch-suggestion--text {
        color: var(--fg);
      }

      .algolia-docsearch-suggestion--highlight {
        color: var(--link);
        background-color: initial;
      }
    }

    .algolia-docsearch-suggestion {
      background-color: initial;
    }

    .algolia-docsearch-suggestion--content .algolia-docsearch-suggestion--no-results {
      background-color: initial;
    }

  }

  .ds-suggestion.ds-cursor .algolia-docsearch-suggestion--title,
  .ds-suggestion.ds-cursor .algolia-docsearch-suggestion--content {
    background-color: var(--hover-bg);
  }
}