:root {
  /* [#259dff] */
  --global-link:#2b8fe0;
}
.light-mode:root {
  /* [#7e7e7e, dadada] */
  --lightm-grey-fg: #aeaeae; /* %68 */
  /* background (main) */
  --lightm-bg: #ffffff;
  /* text (general) */
  --lightm-fg: #383838;
  /* background  (sub sections in - h1,h2, code blocks, announcement, etc) */
  /* [#eee, fcfcfa] */
  --lightm-card-bg: #f0f1f3; /* %95 */
  /* header text (h1,h2, code blocks, announcement, etc) */
  /* [#444, #333] */  
  --lightm-card-fg: #383838; /* %22 */
  /* text (api side menus h3...)  */
  /* [666, 808080] also dark border */
  --lightm-menu-grey: #888; /* %53 */
  /* (hover background) */ 
  /* changed from hover -- too dark */
  --lightm-hover-border: #484848; /* %28 */
  /* (new hover background) */
  --lightm-hover-bg: #D3D3D3; /* %83 */
  /* #ddd (hover foreground) */
  --lightm-hover-fg: #fafafa; /* %98 */
  /* borders) */
    /* [#c6c6c6 #eee] */
  --lightm-border: #d9e1e4; /* %87 */
  /* (Links) */
  /* [#259dff] */
  --lightm-link: #0e78ce;
  /* maybe same as lightm-card-fg? */
  --lightm-box-fg: rgb(24, 24, 24);
  --info-bg: rgb(207, 212, 252);
  --info-accent: rgb(15, 28, 138);
  --notice-light-bg: #fdfae6;
  --notice-light-border: #ebdbb7;
  --notice-bg: rgb(252, 234, 197);
  --notice-accent: rgb(115, 82, 13);
  --warn-bg: rgb(250, 209, 223);
  --warn-accent: rgb(138, 15, 58);
  --code-bg: #f0f1f3;
  --supported-fg: #009000;
  --eol-fg: #ff0000;
}
.dark-mode:root {
  /* [#7e7e7e] */
  --darkm-grey-fg: #b3b3b3; /* %70 */
  /* (background) */
  --bg: #0c0c0c;
  /* (general texts) */
  --darkm-fg: #fafafa;
  /* [--second_dark_bg] */
  --darkm-card-bg: #181818;
  /* text (header, h1, h2 code blocks, announcement, etc) */
  --darkm-card-fg: #f7f4f4;
  /* (hover background) */
  --darkm-hover-bg: #404040;
  /* (hover foreground) */
  --darkm-hover-fg: #fafafa; /* %98 */ 
  --darkm-border: #d9e1e4; /* %87 */
  /* (Links) */
  --darkm-link: var(--global-link);
  --box-fg: rgb(255, 255, 255);
  --info-bg: rgb(23, 29, 79);
  --info-accent: rgb(189, 195, 255);
  --notice-bg: rgb(78, 64, 34);
  --notice-accent: rgb(249, 232, 195);
  --warn-bg: rgb(78, 34, 50);
  --warn-accent: rgb(249, 195, 214);
  --code-bg: #0d1117;
  --main_dark_bg: #010409;
  --second_dark_bg: #0d1117;
  --darker_hover: #171b20;
  --dark_hover: #383838;
  --second_dark_hover: #484848;
  --dark_inner_text: #888888;
  /* #prev dark_header_text */
  /* for side menus */
  --darkm-menu-grey: silver;
  --dark_main_text: #e6edf3;
  --dark_bright_text: white;
  --dark_border: #ddd;
  --link: #259dff;
  --supported-fg:#299009;
  --eol-fg: #ff1a1a;
}
