@import "../values.css";
html.light-mode {
    #top {
        background: var(--box-fg);
    }
    /* body {
        color: var(--fg);
        background: var(--bg);
    }
    h1, h2, h3 {
        color: var(--card-fg);
    } */
    /* p em {
        color: var(--card-fg);
    } */
    /* strong, th {
        color: var(--card-fg);
    } */
     /* use image 1 here */
    #overlay {
        background: var(--hover-border);
    
    }
    /* #announcements {
        background: var(--notice-bg);
        border-color: var(--notice-border);
        &p:first-child{
            background-image: url(/images/announcement-icon.png);
        }
    } */
    /* #install-command { */
        /* not needed */
        /* background: var(--bg); */
        /* border-color: var(--border); */
      /* } */
    /* #description .description { 
        color: var(--grey-fg);
    } */
    /* #api-doc > h3,  */
    /* #api-doc h5 {
        color: var(--menu-grey)
      } */
    /* li code - no instances exist   */
    /* code {
        color:var(--card-fg);
        background-color: var(--card-bg);
    } */
    /* p code, td code {
        color:var(--card-fg);
      } */
    /* a {
        color: var(--lightm-link);
    } */
    /* #logo .express {
        color: var(--card-fg)
    } */
    /* #description .express > a {
        color: var(--card-fg);
    } */
    /* #description .express a#express-version {
        color: var(--lightm-link);
    } */
        
     /* header{
        background: var(--card-bg);
        border-bottom: 1px solid var(--hover-fg);
    
    }  */
    /* .scroll header {
        box-shadow: 0 0 4px var(--card-bg);
    } */
    /* pre {
        border-color: var(--border);
    } */
    .algolia-autocomplete #q:focus-visible,
    .algolia-autocomplete #q:focus {
      border-color:     var(--card-fg);
    }
    /* change from default blue */
    #menu em {
        color: var(--fg);
    }
    #menu a {
        color: var(--menu-grey);
    }
    #menu ul a.active {
      color: var(--lightm-link)
    }
    /* .submenu-content {
       box-shadow: 1px 2px var(--card-bg);
       background-color: var(--hover-fg);
       border-color: var(--border);
       border-width: 2px; 
    
    } */
    /* #navbar .submenu-content a:hover {
        color: var(--bg);
    } */
    /* #navbar a {
        color: var(--menu-grey);
      } */
    /* #navbar a.active {
        color: var(--card-fg);
    } */
    /* code inside doc-box slovak migrating-4x (seemed wrong) */

    /* .doc-box pre[class*="language-"] {
        background: var(--bg)
    } */
    /* .doc-box {
        color: var(--box-fg);
    } */
    /* #top {
        background: var(--box-fg);
    } */
    /* doc specific */
    /* .doctable, section table {
        border-color: var(--border);
    }
    .doctable td, .doctable th, section table td, section table th {
        border-color: var(--border);
    } */
    /* .doctable tr th, section table tr th {
        background: var(--card-bg);
    } */
    /* .doc-notice {
        border-left-color: var(--notice-accent);
        background: var(--notice-bg);
    } */
    /* .doc-notice a{
        color: var(--notice-accent);
    } */
    /* .doc-info {
        background: var(--info-bg);
        border-left-color:var(--info-accent);
    } */
    /* .doc-info a{
        color: var(--info-accent);
    } */
    /* .doc-info-title {
        color: var(--info-accent);
    } */
    /* .doc-warn {
        background: var(--warn-bg);
        border-left-color: var(--warn-accent);
    } */
    /* .doc-warn-title {
        color: var(--warn-accent);
    } */
    /* .doc-warn a {
        color: var(--warn-accent);
    } */
    /* #close-i18n-notice-box {
        color: var(--notice-accent);
    } */
    /* .blog-title a {
        color: var(--card-fg)
    } */
    /* blog */
    /* #blog-side-menu > li > a {
        color: var(--menu-grey);
    } */
    /* #blog-side-menu-container > h3 > a  {
        color: var(--card-fg)
    } */
    /* .blog-post { */
        /* color: var(--card-fg);    
        background-color: var(--card-bg);
        border-color: var(--menu-grey);
        box-shadow: 2px 3px var(--card-bg); */

    /* } */
    /* .blog-post:hover {
        background-color: var(--hover-bg);
        border-color: var(--hover-border);
        box-shadow: 2px 3px var(--menu-grey);
      } */
    /* general */
    .button {
        color: var(--box-fg);
    }
    @media all and (max-width: 1110px) {
        /* #navmenu>li {
            background: var(--card-bg);
    
        } */
        /* .submenu-content {
        background: var(--hover-fg);
        } */
    }
}