:root {
    /* (background) */
--bg: #ffffff;
/* (general texts) */
--fg: #383838;
--header: #353535;
/* (header, code blocks, announcement, etc) */
--card-bg: #f0f1f3; 
--card-fg: #383838;
/* (hover background) */
--hover-bg: #484848;
/* (hover foreground) */
--hover-fg: #fafafa;
/* (borders) */
--border: #d9e1e4;
/* (Links) */
--accent: #0e78ce;
}