@import "../values.css";

html.light-mode {
    #top {
        background: var(--box-fg);
    }

    #overlay {
        background: var(--hover-border);
    }

    .submenu-content {
        background-color: var(--bg);
    }
}