/* ---- Home Structure ---- */

main.home {
  max-width: 75rem;
  margin: 40px auto 2%;
  padding-inline: 5%;
}

#home-content {
  display: flex;
}

.en-doc #home-content {
  margin-top: 150px;
}

#homepage-leftpane {
  min-width: 500px;
  margin-right: 30px;
  font-size: 90%;
  padding-top: 13px;
}

#homepage-rightpane {
  min-width: 500px;
  padding: 25px 30px 0px 0px;
}

#homepage-rightpane iframe {
  min-width: 100%;
  min-height: 273px;
}

#intro h3 {
  font-weight: normal;
  font-size: 25px;
  margin-bottom: 10px;
}

@media all and (max-width: 1110px) {
  #home-content {
    flex-direction: column;
    margin: 60px 0 0 5%;
    padding-right: 5%;
  }

  #home-content .pane {
    min-width: auto;
    font-size: 74%;
  }

  #homepage-leftpane {
    padding-top: 0px;
  }

  #homepage-rightpane {
    padding-top: 0;
    padding-right: 0;
  }
}

/* ---- Install Command ---- */

#install-command {
  font-family: Consolas, Monaco, "Andale Mono", monospace;
  padding: 5px 10px;
  border: 1px solid var(--border);
  border-radius: 3px;
  max-width: 375px;
}

@media all and (max-width: 1110px) {
  #install-command {
    display: none;
    width: 100%;
    margin-right: 5%;
  }
}

@media all and (max-width: 320px) {

  #install-command {
    font-size: 12px;
  }
}

/* ---- Description ---- */

#description .express {
  display: block;
  font: 4.5em "Helvetica Neue", "Open Sans", sans-serif;
  font-weight: 100;
  margin-bottom: .25em;
}

#description .express>a {
  color: var(--card-fg);
}

#description .express a#express-version {
  font-size: 0.2em;
  margin-left: 0.5em;
  color: var(--link);
  font-weight: 400;
}

#description {
  margin-bottom: 43px;
  -webkit-font-smoothing: antialiased;
}

#description .description {
  position: relative;
  top: -5px;
  font: 100 4.1em "Helvetica Neue", "Open Sans", sans-serif;
  color: var(--menu-grey);
  line-height: .87;
}

@media all and (max-width: 1110px) {
  #description {
    margin-bottom: 35px;
  }

  #description .express {
    display: none;
  }

  #description .description {
    font-size: 3em;
    line-height: .9em;
    font-weight: 200;
  }
}

@media all and (max-width: 420px) {
  #description .express {
    display: none;
  }
}

/* ---- Announcements ---- */

#announcements {
  margin-top: 40px;
  padding: 0 16px;
  background: var(--notice-bg);
  border: 1px solid var(--notice-accent);
  border-radius: 3px;
  font-size: 0.9em;
  & a {
    color: var(--notice-accent);
    text-decoration: underline;
  }
}

#announcements ul {
  padding-left: 0;
}

#announcements li {
  list-style: none;
  margin-bottom: 16px;
}

#announcements p {
  margin: 6px 0;
}

#announcements time {
  font-weight: normal;
  margin-right: 12px;
}

.announcement-title {
  font-weight: bold;
  margin-bottom: 11px;
  display: flex;
  align-items: center;
  column-gap: 8px
}

/* ---- Boxes ---- */

#boxes {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 20px;
  column-gap: 50px;
  margin-top: 30px;
}

#boxes h3 {
  line-height: 1.25em;
  color: var(--card-fg);
  background: none;
  margin-top: 0;
  padding-top: 0;
}

#boxes div {
  list-style: none;
}

@media all and (max-width: 1110px) {
  #boxes {
    grid-template-columns: 1fr 1fr;
  }
}

@media all and (max-width: 540px) {
  #boxes {
    grid-template-columns: 1fr;
  }
}
