/* -------- writing-middleware.md -------- */

.callout {
  position: relative;
}

#mw-fig {
  border-collapse: separate;
  padding: 0;
  border: 0;
  width: 960px;
  margin-bottom: 20px;
}

#mw-fig-imgcell {
  margin: 0;
  padding: 0px;
  border: 0;
  width: 410px;
}

#mw-fig-img {
  margin: 0px;
  padding: 0px;
  width: 410px;
  height: 308px;
}

.mw-fig-callouts {
  margin: 0;
  padding: 0 0 0 5px;
  border: 0;
  width: 550px;
}

/* -------- middleware pages --------*/

#mw-container {
  display: flex;
  display: -webkit-flex;
  /* Safari */
  width: 100%;
}

#mw-list {
  min-width: 180px;
  margin: 0;
  padding: 0 10px 0 10px;
  font-size: 13px;
  overflow-y: auto;
}

#middleware-content {
  margin-left: 10px;
}

#mw-list ul li {
  margin-left: -20px;
}